#tilin{
text-align: center;
}

#divsignin{
    text-align: center;
    width: 500px;
    height: 100px;
}

#alinear{
    align-items: center;
    text-align: center;
}
.form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
.form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
  }
h1{
    text-align: center;
}
body{
  background-color: green;
}
