# Ignorar archivos de Python
__pycache__/
*.py[cod]

# Ignorar la carpeta de configuración de VSCode
.vscode/

# Ignorar la carpeta de entornos virtuales
venv/

# Ignorar archivos de logs
*.log

.env
client_secret.json

conexionsql.py
conexionsql.cpython-312.pyc